.jscoin-tabs ul
{
    list-style-type:none;
}
.jscoin-tabs * ul /* http://craftycodeblog.com/2010/05/19/emulating-css-child-selectors-in-ie6/ */
{
    list-style-type:disc;
}

.jscoin-tabs ul li
{
    display:block;
    float:left;
    position:relative;
    border:1px solid #808080;
    padding:5px 10px 5px 10px;
    margin-right:5px;
    cursor:hand;
    z-index:51;
}
.jscoin-tabs * ul li
{
    display:block;
    float:none;
    position:static;
    border:none;
    padding:0;
    margin-right:0;
    cursor:default;
    z-index:0;
}
.jscoin-tabs div
{
    display:none;
    position:relative;
    width:100%;
    margin:-1px 0 0 0;
    text-align:left;
    padding:0;
    border:1px solid #808080;
    z-index:50;
}
.jscoin-tabs * div
{
    display:block;
    position:static;
    width:auto;
    margin:auto;
    text-align:left;
    padding:0;
    border:none;
    z-index:0;
}
.jscoin-tabs div p
{
    padding:10px;
    margin:0;
}
.jscoin-tabs * div p
{
    padding:0;
    margin:0;
}
.jscoin-tabs div.active
{
    display:inline-block;
}
.jscoin-tabs ul li.active
{
    cursor:default;
    border-bottom:1px solid #fff;
}
