.jscoin-tabs
{
    position:relative;
    font-family:Arial;
    font-size:15px;
}
.jscoin-tabs > ul
{
    margin:0 0 0 15px;
    padding:0;
    list-style-type:none;
}
.jscoin-tabs > ul.center
{
    float:left;
    position:relative;
    left:50%;
}
.jscoin-tabs > ul > li
{
    display:block;
    float:left;
    position:relative;
    border:1px solid #808080;
    padding:5px 10px 5px 10px;
    margin-right:5px;
    border-top-left-radius:5px; -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px; -moz-border-radius-topright:4px; -webkit-border-top-right-radius:5px;
    user-select: none; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; -khtml-user-select:none;
    cursor:pointer;
    z-index:51;
}
.jscoin-tabs > ul > li.center
{
    right:50%;
}
.jscoin-tabs > ul > li:hover
{
    color:#000080;
}
.jscoin-tabs > div
{
    display:none;
    position:relative;
    width:100%;
    margin:-1px 0 0 0;
    text-align:left;
    padding:0;
    border:1px solid #808080;
    z-index:50;
}
.jscoin-tabs > div > p, .jscoin-tabs > div > div
{
    padding:10px;
    margin:0;
}
.jscoin-tabs > div.active
{
    display:inline-block;
}
.jscoin-tabs > ul > li.active
{
    cursor:default;
    border-bottom:1px solid #fff;
}
.jscoin-tabs > ul > li.active:hover
{
    color:#000;
}
